@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
label,
input,
span {
    font-family: 'Montserrat', sans-serif;
}

.heading,
section,
aside {
    margin: 0 240px;
}

h1 {
    color: #4E5150;
    font-size: 36px;
    line-height: 44px;
    margin-top: 64px;
}

section {
    margin-top: 50px;
}

/* Information Styles */
h2 {
    color: #333333;
    font-size: 18px;
    line-height: 22px;
}

label {
    color: #4F4F4F;
    font-size: 12px;
}

input {
    color: #828282;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #828282;
    border-radius: 12px;
    padding: 12px;
    padding-left: 20px;
    padding-right: 40px;
}

