@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    background: var(--main-bg);
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background: hsl(216, 50%, 16%);
    width: 350px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0px 20px 2px 15px rgba(0, 0, 0, 0.08),
                0px 20px 2px 45px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equilibrium {
    width: 302px;
    border-radius: 8px;
    margin: 20px;
}

.nft-text {
    display: flex;
    flex-direction: column;
    margin: 0 24px;
}

.nft-text h1 {
    color: var(--white);
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 16px;
}

.nft-text p {
    color: var(--soft-blue);
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 24px;
}

.nft-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.ethereum img,
.timeframe img {
    margin-right: 6px;
}

.ethereum,
.timeframe {
    font-size: 16px;
    line-height: 20px;  
    display: flex;
}

.ethereum {
    color: var(--cyan);
    font-weight: 600;
}

.timeframe {
    color: var(--soft-blue);
    font-weight: 400;
}

.line {
    border-bottom: 1px solid var(--line);
    margin-bottom: 16px;
}

.creator {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.creator img {
    width: 33px;
    height: 33px;
    object-fit: contain;
    border: 1px solid var(--white);
    border-radius: 50%;
    margin-right: 16px;
}

.creator p {
    margin: 0;
}

.creator span {
    color: var(--white);
}

.attribution {
    color: var(--white);
    font-weight: 300;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

.attribution a {
    color: var(--soft-blue);
    text-decoration: none;
}

.attribution a:hover {
    color: var(--cyan);
}